<div class="jumbotron">
  <h1 class="text-center">Super Hero/Heroine Tracker<h1>
    <p class="text-center">This your app to track your favorite Super Heroes/Heroines! Fill in your favorite characters, identities, powers, and teams!</p>
</div>

<% if current_user %>
  <%= link_to "Sign Out", signout_path, method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= form_tag signin_path do %>
  <%= text_field_tag "email", nil, placeholder: "Email" %>
  <%= password_field_tag "password", nil, placeholder: "Password"%>
  <%= submit_tag "Sign In" %>
  <% end %>

<h3>Sign Up</h3>
   <%= form_tag signup_path %>
    <%= text_field_tag "name", nil, placeholder: "Name" %>
    <%= text_field_tag "email", nil, placeholder: "Email" %>
    <%= text_field_tag "password", nil, placeholder: "Password" %>
    <%= text_field_tag "password_confirmation", nil, placeholder: "Password Confirmation" %>
    <%= submit_tag "Sign up" %>


<% end %>
