<%= form_for(@super_hero, :html => {:multipart => true}) do |f| %>
  <% if @super_hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@super_hero.errors.count, "error") %> prohibited this super_hero from being saved:</h2>
      <ul>
      <% @super_hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div style="margin:10px 10px 10px 10px;">
    <div class="field has-success">
      <%= f.label :hero_name, class: 'control-label' %><br>
      <%= f.text_field :hero_name, class: 'form-control', style: 'max-width:500px' %>
    </div>
    <div class="field has-success">
      <%= f.label :secret_identity, class: 'control-label' %><br>
      <%= f.text_field :secret_identity, class: 'form-control', style: 'max-width:500px' %>
    </div>
    <div class="field has-success">
      <%= f.label :powers, class: 'control-label' %><br>
      <%= f.text_field :powers, class: 'form-control', style: 'max-width:500px' %>
    </div>
    <div class="field has-success">
      <%= f.label :team, class: 'control-label' %><br>
      <%= f.text_field :team, class: 'form-control', style: 'max-width:500px' %>
    </div>
    <div class="field has-success">
      <%= f.label :pic, class: 'control-label'%><br>
      <%= f.text_field :pic, class: 'form-control', style: 'max-width:500px' %><br>
      <%= f.file_field :pic %>
      <%= image_tag(@super_hero.pic_url) if @super_hero.pic? %>
    </div>
      <label>
        <%= f.check_box :remove_pic! %>
        Click to remove pic
      </label>
    </div>

    <div class="form-group">
      <%= f.label :user_id %>
      <%= f.select :user_id, User.all.collect {|user| [user.name, user.id]}, class: 'form-control', placeholder: 'Enter user id' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
