<h1>Collect your Super Heroes here!</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Hero name</th>
      <th>Secret identity</th>
      <th>Powers</th>
      <th>Team</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @super_heros.each do |super_hero| %>
      <tr>
        <td><%= super_hero.hero_name %></td>
        <td><%= super_hero.secret_identity %></td>
        <td><%= super_hero.powers %></td>
        <td><%= super_hero.team %></td>
        <td><%= link_to 'Show', super_hero %></td>
        <td><%= link_to 'Edit', edit_super_hero_path(super_hero) %></td>
        <td><%= link_to 'Delete', super_hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Super hero', new_super_hero_path %>

<button type="button" class="btn btn-primary">Primary</button>
