<p id="notice"><%= notice %></p>

<p>
  <strong>Hero name:</strong>
  <%= @super_hero.hero_name %>
</p>

<p>
  <strong>Secret identity:</strong>
  <%= @super_hero.secret_identity %>
</p>

<p>
  <strong>Powers:</strong>
  <%= @super_hero.powers %>
</p>

<p>
  <strong>Team:</strong>
  <%= @super_hero.team %>
</p>

<p>
  <strong>Pic:</strong><br>
  <%= image_tag @super_hero.pic_url %>
  <%= debug @super_hero %>
</p>


<%= link_to 'Edit', edit_super_hero_path(@super_hero) %> |
<%= link_to 'Home', super_heros_path %>
